:root {
  --background-color: #f1f1f1;
  --border-color: #d7d7d7;
  --entry-bg: #d0d0d0;
  --entry-hover: #c4c4c4;
  --label-color: #a3a3a3;
}

html,
body {
  padding: 0;
  margin: 0;

  overflow: visible;

  font-family: "DejaVu Sans", "Arial", sans-serif;
}

/* @font-face {
  font-family: "DejaVu Sans";
  src: url("https://kendo.cdn.telerik.com/2021.1.119/styles/fonts/DejaVu/DejaVuSans.ttf")
    format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  src: url("https://kendo.cdn.telerik.com/2021.1.119/styles/fonts/DejaVu/DejaVuSans-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2021.1.119/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf")
    format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2021.1.119/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf")
    format("truetype");
} */

body {
  background-color: var(--background-color);

  overflow-x: hidden;
  overflow-y: scroll;

  transition: 1000ms;
}

a {
  text-decoration: none;
}

.button {
  background-color: #0006ba;
  border: 2px solid #0006ba;
  border-radius: 35px;
  width: 150px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 15px 0;
}

.button:hover {
  cursor: pointer;
}

.app {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding: 0;
}

.header-container {
  width: 100%;
  height: 150px;
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 40px;
  margin: 0;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header h1 {
  max-width: 1000px;
  margin: auto;
  font-weight: 500;
}

.form-number-list {
  display: flex;
  justify-content: space-between;

  max-width: 1000px;
  list-style: none;
  margin: auto;
  padding: 20px 40px;
}

.form-number-list a {
  display: flex;
}

.form-name {
  margin-top: 16px;
  color: #1b75c1;
}

.form-number-dot {
  height: 35px;
  width: 35px;
  border: 2px solid #1b75c1;
  text-align: center;

  border-radius: 50%;
  margin-right: 15px;

  display: grid;
}

.form-number-dot {
  margin-top: 8px;
}

.form-number-dot p {
  margin-top: 8px;
}

.form-number-list .current {
  background-color: #1825aa;
  border: 1px solid #1825aa;
}

.form-number-list .current p {
  color: #fff;
}

.form-number-list .line {
  border-top: 1px solid var(--border-color);
  width: 100px;
  margin-top: 21px;
}
/*  Basic data form styles ***********************************************************************
 */
#form-container {
  width: 57%;
  background-color: #fff;
  margin-right: 20px;

  padding: 0 15px;
}

.form-title {
  font-weight: 500;
  margin-left: 5%;
}

form h4 {
  margin-left: 5%;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--label-color);
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

#image-input {
  display: none;
}

#image-field {
  width: 200px;
  height: 200px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--label-color);
  text-align: center;
  cursor: pointer;
}

#photo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}

#image-input-alert {
  display: none;
  color: #ff0000;
  position: absolute;
  top: 100%;
  max-width: 25%;
}

.dragging span {
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

#delete-photo-button {
  display: none;
  cursor: pointer;
}

#save-photo-button {
  display: block;
  cursor: pointer;
}

#delete-photo-button,
#save-photo-button {
  background-color: #1825aa;

  height: 60px;
  width: 60px;
  border-radius: 50%;

  text-align: center;
  color: #fff;

  position: absolute;
  bottom: -10%;
  right: 27%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-photo-button i,
#save-photo-button i {
  font-size: 30px;
}

.form-group {
  width: 90%;
  margin: auto;
  margin-top: 25px;
  position: relative;
}

select {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  outline: none;

  border-bottom: 1px solid #a0a0a0;
}

.form-group input {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;

  border-bottom: 1px solid #a0a0a0;
}

label {
  display: block;
}

input {
  outline: none;
  display: block;
}

.save-button {
  margin: auto;
  width: 200px;
  padding: 15px 0;
  background-color: #1825aa;
  color: #fff;
  border-radius: 35px;
  font-size: 20px;

  margin-top: 50px;

  text-align: center;
}

.save-button:hover {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  display: block;
}

.save-button i {
  margin-right: 10px;
}

.next-button {
  background-color: #0006ba;
  border: 2px solid #0006ba;
  border-radius: 35px;
  margin: auto;
  width: 200px;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 15px 0;

  margin-bottom: 100px;
}

.next-button:hover {
  cursor: pointer;
}

.next-button .fas {
  margin-left: 20px;
}

/* Experience form styles ****************************************************************************** */

.add-button {
  border-radius: 35px;
  margin: auto;
  width: 200px;
  background-color: #0006ba;
  color: #fff;
  font-size: 20px;
  padding: 15px 0;
}

.add-button:hover {
  cursor: pointer;
}

.add-button i {
  margin-right: 10px;
}

.language-form {
  display: flex;
  flex-wrap: wrap;
}

.language-form .form-title {
  width: 80%;
}

#form-languages-container,
#form-skills-container {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-language-container,
.form-skill-container {
  margin: 5px 20px;
  width: 40%;
  background-color: var(--entry-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.form-language-container i,
.form-skill-container i {
  margin-left: 15px;
  transition: 250ms;
}

.form-language-container i:hover,
.form-skill-container i:hover {
  cursor: pointer;
  color: #fff;
}

.language-form .form-group {
  width: 40%;
}

.add-language {
  margin-top: 40px;
}

.back .fas,
.back .far {
  margin-right: 20px;
  margin-left: 0;
}

.experience-form-footer {
  display: flex;
  justify-content: space-evenly;
}

.form-group span {
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 100%;
}

/* Modals styles **************************************************************************/

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal-content {
  background-color: #fff;
  width: 400px;
  height: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 0;

  -webkit-box-shadow: 0px 0px 46px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 46px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 46px -6px rgba(0, 0, 0, 0.75);
}

.modal-content h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}

.modal-header {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.close-modal:hover {
  cursor: pointer;
}

.form-body {
  overflow-y: auto;
  max-height: 360px;
}

#experience-modal .form-body {
  max-height: 340px;
}

.checkbox-label {
  color: #000;
}

.checkbox-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.checkbox {
  width: 15px !important;
  height: 15px !important;
  cursor: pointer;

  margin-right: 10px;
  margin-top: 0;
}

.modal-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.form-group textarea {
  resize: none;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #a0a0a0;
  font-size: 18px;
}

#warning-modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}

#warning-modal .modal-content h1 {
  font-size: 40px;
  width: 90%;
  text-align: center;
}

#warning-modal .modal-footer {
  justify-self: flex-end;
}

/* Download style +-*********************************************************** */

.resume-img {
  width: 50%;
  height: auto;
}

.download-wrapper {
  text-align: center;
  margin-top: 60px;
}

.download-wrapper h1 {
  font-size: 35px;
}

.download-wrapper h3 {
  font-size: 25px;
}

.download-wrapper h4 {
  color: var(--label-color);
}

#complete-cv-warning {
  color: red;
  margin-bottom: 0;
  position: relative;
  z-index: -1;
}

#download-button,
#save-cv-button {
  margin-top: 30px;
}

/* CV preview styles ******************************************************** */

.cv-preview-container {
  background-color: #fff;
  width: 40%;
}

.template-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 7px 20px;
  justify-content: space-evenly;
  border-bottom: 1px solid #d7d7d7;
}

.template-button {
  width: 23%;
  border: 2px solid #d7d7d7;
  margin: 3px 2px;
  text-align: center;
  border-radius: 15px;
  padding: 3px 0;
}

.template-button:hover {
  cursor: pointer;
}

.template-list .current {
  border: 2px solid #1b75bc;
}

.color-dots-list {
  display: flex;
  justify-content: space-evenly;

  padding: 10px;

  border-bottom: 1px solid #d7d7d7;
}

.color-dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  text-align: center;
}

.color-dot:hover {
  cursor: pointer;
}

.color-dots-list i {
  display: none;
}

.color-dots-list .current i {
  display: block;
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
}

#dot-1 {
  background-color: #4758a8;
}
#dot-2 {
  background-color: #051561;
}
#dot-3 {
  background-color: #616d84;
}

.templates-container h4 {
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

/* form experience entries ****************************************************** */
#form-job-list,
#form-education-list,
#form-certification-list {
  list-style: none;
}

.entry-action-icons {
  text-align: end;
}

.entry-action-icons i:last-child {
  margin-left: 10px;
}

.entry-action-icons i {
  transition: 250ms;
}

.entry-action-icons i:hover {
  color: #fff;
  cursor: pointer;
}

.form-entry-container {
  background-color: var(--entry-bg);
  padding: 20px;

  margin-top: 15px;
}

.entry-description {
  list-style: none;
  padding: 0;
}

.entry-description li:last-child {
  margin-top: 15px;
}

/* complete CV list */

.cv-list-entry {
  background-color: var(--entry-bg);
  justify-items: center;

  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.entry-body-wrapper {
  margin: 0;
  display: flex;
}

.entry-body-wrapper img {
  object-fit: cover;
}

.entry-wrapper {
  position: relative;
}

.cv-action-icons {
  font-size: 22px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 22px;

  position: absolute;

  bottom: 60%;
  left: 90%;
}

.cv-action-icons i {
  transition: 250ms;
}

.cv-action-icons i:hover {
  color: #fff;
  cursor: pointer;
}

.cv-list-entry:hover {
  background-color: var(--entry-hover);
  cursor: pointer;
}

.cv-list-entry img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}
.contact-bar a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
