:root {
  --mainColor: #4758a8;
  --greyColor: #767676;
}

body {
  font-family: "Roboto", sans-serif;
}

.resume-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience-container {
  order: 1;
}

.education-container {
  order: 2;
}

.certification-container {
  order: 3;
}

.languages-container {
  order: 5;
}

.skills-container {
  order: 6;
}

.projects-container {
  order: 4;
}

.cv-preview-container section,
.preview-modal section {
  padding: 5px 25px;
}

.cv-preview-container h1,
.preview-modal h1 {
  color: var(--mainColor);
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 5px;
  color: var(--mainColor);
  margin: 0;
}

.cv-preview-container h3,
.preview-modal h3 {
  margin: 0;
}

.cv-preview-container p,
.preview-modal p {
  margin: 5px 0;
}

.preview-header {
  padding: 3%;
  display: flex;
  align-items: center;
  height: 16.5%;
}

.profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.cv-preview-container .about p,
.preview-modal .about p {
  font-size: 68%;
  margin: 5px 0;
}

.cv-preview-container .about h3,
.preview-modal h1 .about h3 {
  margin-top: 5px;
  color: var(--greyColor);
  font-weight: lighter;
  font-size: 16px;
}

.cv-preview-container .about h1,
.preview-modal h1 .about h1 {
  font-size: 22px;
  font-weight: 600;
}

.cv-preview-container .contact-bar,
.preview-modal .contact-bar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.cv-preview-container .contact-bar ul,
.preview-modal .contact-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 8px;
  padding: 0;
}

.cv-preview-container .contact-bar .icon,
.preview-modal .contact-bar .icon {
  margin-right: 5px;
  color: var(--mainColor);
}

.cv-preview-container .icon,
.preview-modal .icon {
  font-size: 10px;
}

.cv-preview-container .section-title,
.preview-modal .section-title {
  font-size: 18px;
}

.cv-preview-container .skills ul,
.preview-modal .skills ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 3%;
}

.cv-preview-container .skills ul li,
.preview-modal .skills ul li {
  border-radius: 5px;
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  margin: 5px 7px 0 0;
  font-size: 11px;
  letter-spacing: 1px;
}

.cv-preview-container .skills input,
.preview-modal .skills input {
  display: none;
}

.cv-preview-container .job-title,
.cv-preview-container .field-of-study,
.cv-preview-container .project-name,
.preview-modal .job-title,
.preview-modal .field-of-study {
  font-size: 16px;
}

.cv-preview-container .course-name,
.preview-modal .course-name {
  font-size: 14px;
}

.cv-preview-container .course-organizer,
.preview-modal .course-container {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.cv-preview-container .job-container,
.cv-preview-container .study-container,
.cv-preview-container .course-container,
.cv-preview-container .project-container,
.preview-modal .job-container,
.preview-modal .study-container,
.preview-modal .course-container {
  margin: 10px 0;
}

.cv-preview-container .workplace,
.cv-preview-container .school-name,
.cv-preview-container .project-link,
.preview-modal .workplace,
.preview-modal .school-name {
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
  text-decoration: none;
  color: #000;
  cursor: url("../../pictures/search-plus.svg"), auto;
}

.cv-preview-container .time-range,
.preview-modal .time-range {
  margin: 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 10px;
}

.cv-preview-container .job-description,
.cv-preview-container .project-description,
.preview-modal .job-description {
  font-size: 11px;
  line-height: 13px;
}

.cv-preview-container .certifications,
.preview-modal .certifications {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
}

.cv-preview-container .course-container,
.preview-modal .course-container {
  height: 40px;
  margin: 5px 0;
}

.cv-preview-container #course-1,
.preview-modal #course-1 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.languages-container {
  margin-top: 10px;
}

.cv-preview-container .language,
.preview-modal .language {
  font-size: 14px;
  margin-bottom: 0;
}

.cv-preview-container .languages,
.preview-modal .languages {
  display: flex;
}

.cv-preview-container .language-container,
.preview-modal .language-container {
  margin-right: 30px;
  width: 25%;
}

.cv-preview-container .language-level,
.preview-modal .language-level {
  margin: 5px 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 10px;
  color: var(--mainColor);
  font-weight: bolder;
}

.language-level-dot,
.language-level-scale {
  display: none;
}
