:root {
  --mainColor: #051561;
  --greyColor: #767676;
}

body {
  font-family: "Roboto", sans-serif;
}

#myCanvas,
.preview {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas:
    "about contact-bar"
    "resume-body resume-body";
  grid-template-rows: 180px 1fr;
  position: relative;
}

.cv-preview-container h1,
.cv-preview-container h2,
.preview-modal h1,
.preview-modal h2 {
  color: var(--mainColor);
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 5px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
}

.cv-preview-container h3,
.preview-modal h3 {
  margin: 0;
}

.preview-header {
  padding: 10px 20px 0 20px;
  grid-area: about;
}

.profile-photo {
  display: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  position: absolute;
  right: 38%;
  top: 20px;
}

.about h3 {
  margin-top: 5px;
  color: var(--greyColor);
  font-weight: lighter;
  font-size: 16px;
}

.about h1 {
  font-size: 22px;
  font-weight: 600;
}

.about p {
  font-size: 10px;
  margin: 5px 0 0 0;
}

.contact-bar {
  grid-area: contact-bar;
  padding: 15px;
}

.contact-bar ul {
  text-align: right;
  list-style: none;
  font-size: 8px;
  margin-left: 20px;
}

.contact-bar ul li {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.contact-bar .icon {
  margin-left: 5px;
  color: var(--mainColor);
}

.icon {
  font-size: 10px;
}

.section-title {
  font-size: 18px;
}

.skills input {
  display: none;
}

.skills ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 5px 0;
}

.skills ul li {
  border-radius: 5px;
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  margin: 5px 5px 0 0;
  font-size: 10px;
}

.skills {
  padding: 0 20p;
}

.job-container,
.study-container,
.course-container {
  margin: 9px 0;
  padding: 0 20px;
}

.workplace,
.school-name,
.course-organizer {
  font-weight: lighter;
  margin: 0;
  font-size: 14px;
}

.job-title,
.field-of-study {
  font-size: 16px;
}

.course-name {
  font-size: 14px;
}

.resume-body {
  grid-area: resume-body;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 887px;
}

.time-range {
  margin: 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 0.7rem;
}

.job-description {
  font-size: 10px;
}

.certifications {
  display: grid;
  grid-template-columns: 50% 50%;
}

#course-1 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.language-container {
  padding: 0 20px 20px 20px;
}

.language {
  margin-bottom: 0;
  font-size: 14px;
}

.languages {
  display: flex;
}

.language-container {
  margin-right: 30px;
}

.language-level {
  margin: 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 10px;
  color: var(--mainColor);
  font-weight: bolder;
}
