:root {
  --creativeColor: #d37802;
  --contactColor: #15243d;
  --headerBackground: #213a63;
  --langLevelColor: rgba(255, 255, 255, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

.cv-preview-container h1,
.preview-modal h1 {
  color: #fff;
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  color: var(--creativeColor);
  margin: 0;
  text-decoration: underline;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 10px;
}

.resume-body {
  height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.resume-body section {
  width: 45%;
  margin-left: 20px;
  margin-top: 10px;
}

.section-title {
  color: var(--creativeColor);
}

.preview-header {
  padding: 10px 20px;
  background-color: var(--headerBackground);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.profile-photo {
  display: none;
  width: 100px;
  height: 100px;
  border: 4px solid var(--creativeColor);
  object-fit: cover;
  border-radius: 100px 100px 15px 100px;
}

.about {
  width: 75%;
}

.about h3 {
  margin-top: 5px;
  color: var(--creativeColor);
  font-weight: lighter;
  font-size: 16px;
}

.about h1 {
  font-size: 22px;
  font-weight: 600;
}

.about p {
  color: #fff;
  font-size: 10px;
}

.contact-bar {
  padding: 1px;
  background-color: var(--contactColor);
}

.contact-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 8px;
  padding: 0;
  color: #fff;
}

.contact-bar a {
  color: #fff;
}

.contact-bar .icon {
  margin-right: 5px;
  color: #fff;
}

.icon {
  font-size: 9px;
}

.section-title {
  font-size: 18px;
  margin-top: 10px;
}

.languages-container {
  order: 5;
}

.experience-container {
  order: 1;
}

.education-container {
  order: 2;
}

.certification-container {
  order: 3;
}

.projects-container {
  order: 4;
}

.skills-container {
  order: 6;
}

.job-title,
.field-of-study,
.project-name {
  font-size: 16px;
  margin: 10px 0 0 0;
}

.course-name {
  font-size: 14px;
  margin: 5px 0;
}

.time-range {
  margin: 0;
  font-style: italic;
  color: var(--creativeColor);
  font-size: 10px;
}

.job-description,
.project-description {
  font-size: 10px;
  margin: 5px 0 0 0;
}

.job-container {
  height: 70%;
}

.job-container,
.study-container,
.course-container,
.project-container {
  margin: 10px 0;
}

.workplace,
.school-name,
.course-organizer,
.project-link {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
  color: #000;
  cursor: url("../../pictures/search-plus.svg"), auto;
}

.project-link {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.skills ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.skills ul li {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.skill-level {
  display: flex;
}

.skill-level input {
  display: none;
}

.level {
  width: 8px;
  height: 8px;
  border: 1px solid var(--creativeColor);
  border-radius: 50%;
  margin: 0;
}

.inner {
  background-color: var(--creativeColor);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  opacity: 0;
}

.skill-level div {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 5px;
  align-items: center;
  justify-items: center;
}

.level,
.inner {
  grid-column: 1;
  grid-row: 1;
}

.languages {
  display: flex;
}

.language-container {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 25px;
}

.language-level-scale {
  display: none;
}

.language-level {
  display: none;
}

.language-level-dot {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 60px;
}

.inner-dot,
.outer-dot {
  grid-column: 1;
  grid-row: 1;
}

.outer-dot {
  height: 30px;
  width: 30px;
  border: solid 1px var(--creativeColor);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
}

.inner-dot {
  height: 8px;
  width: 8px;
  background: var(--creativeColor);
  border-radius: 50%;
}

.language {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.language-level-scale {
  display: none;
}
