:root {
  --mainColor: #788c55;
  --greyColor: #767676;
  --borderColor: #d1d1d1;
}

body {
  font-family: "Roboto", sans-serif;
}

.cv-preview-container section,
.preview-modal section {
  padding: 5px 20px;
}

.cv-preview-container h1,
.cv-preview-container h2,
.preview-modal h1,
.preview-modal h2 {
  color: var(--mainColor);
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 5px;
}

.cv-preview-container h3,
.preview-modal h3 {
  margin: 0;
}

.resume-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-container {
  order: -2;
}

.projects-container {
  order: -1;
}

.preview-header {
  padding: 10px 20px;
  display: flex;
  background-size: cover;
  background-image: url(../../pictures/Hexagon-dotted-connect-line-background.jpg);
}

.profile-photo {
  display: none;
  border: 2px solid var(--borderColor);
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-right: 15px;
  object-fit: cover;
}

.about h3 {
  margin-top: 5px;
  color: var(--greyColor);
  font-weight: lighter;
  font-size: 16px;
}

.about h1 {
  font-size: 22px;
  font-weight: 600;
}

.about p {
  font-size: 10px;
  margin: 5px 0;
}

.contact-bar {
  border-top: 2px solid var(--borderColor);
  border-bottom: 2px solid var(--borderColor);
  background-color: #e8e8e8;
}

.contact-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 8px;
  padding: 0;
}

.contact-bar .icon {
  margin-right: 5px;
  color: var(--mainColor);
}

.icon {
  font-size: 10px;
}

.section-title {
  font-size: 18px;
}

.skills input {
  display: none;
}

.skills ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin: 3px 0;
}

.skills ul li {
  border-radius: 5px;
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  margin: 5px 5px 0 0;
  font-size: 10px;
}

.job-container,
.study-container,
.course-container,
.project-container {
  margin: 10px 0;
}

.workplace,
.school-name,
.course-organizer,
.project-link {
  font-weight: lighter;
  margin: 0;
  font-size: 14px;
  color: #000;
  cursor: url("../../pictures/search-plus.svg"), auto;
}

.job-title,
.field-of-study,
.project-name {
  font-size: 16px;
}

.course-name {
  font-size: 14px;
}

.time-range {
  margin: 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 10px;
}

.job-description,
.project-description {
  font-size: 10px;
  margin: 3px 0;
}

.certifications {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 15px;
}

#course-1 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.language {
  margin-bottom: 0;
  font-size: 14px;
}

.languages {
  display: flex;
}

.language-container {
  margin-right: 30px;
}

.language-level {
  margin: 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 10px;
  color: var(--mainColor);
  font-weight: bolder;
}

.language-level-dot,
.language-level-scale {
  display: none;
}
