:root {
  --mainColor: #68baae;
  --langLevelColor: rgba(255, 255, 255, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

.cv-preview {
  position: relative;
}

.cv-preview-container h1,
.preview-modal h1 {
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 10px;
}

.cv-preview-container h3,
.cv-preview-container h4,
.preview-header h3,
.preview-modal h4 {
  margin: 0;
}

.profile-photo {
  display: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px 27px 0 27px;
}

.preview-header {
  display: flex;
  margin-bottom: 15px;
}

.preview-header h1 {
  font-size: 22px;
}

.preview-header h3 {
  font-weight: lighter;
  margin-top: 5px;
  font-size: 16px;
}

.preview-header p {
  font-size: 10px;
  margin: 5px 0 0 0;
}

.about {
  background-color: var(--mainColor);
  margin-top: 15px;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
}

.about span {
  border-bottom: 1px solid #fff;
}

.contact-bar {
  position: absolute;
  top: 140px;
}

.resume-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  height: 900px;
}

.skills-container,
.languages-container {
  width: 30%;
  order: -1;
}

.languages-container {
  margin-top: 10px;
}

.skills-container {
  margin-top: 150px;
}

.experience-container,
.education-container,
.certifications-container {
  width: 70%;
  order: 1;
}

.education-container,
.cv-preview-container .certifications-container {
  margin-top: 10px;
}

.study-container,
.course-container {
  margin: 15px 0;
}

.workplace,
.school-name,
.course-organizer {
  font-weight: lighter;
  margin: 0;
  padding-left: 10px;
}

.contact-bar ul {
  list-style: none;
  margin-right: 15px;
  padding-left: 10px;
  font-size: 9px;
}

.contact-bar ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.contact-bar .icon {
  color: var(--mainColor);
  margin-bottom: 3px;
}

.cv-preview input,
.preview-modal input {
  display: none;
}

.skills ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.skills ul li {
  border-radius: 5px;
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 10px;
  margin: 3px 5px;
  float: left;
  clear: left;
  font-size: 10px;
}

.section-title {
  color: var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
  padding-left: 10px;
  font-size: 18px;
}

.job-title,
.field-of-study,
.course-name {
  padding-left: 10px;
  color: var(--mainColor);
}

.job-title,
.field-of-study {
  font-size: 16px;
}

.workplace,
.school-name {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.job-description {
  font-size: 10px;
  padding-left: 10px;
}

.course-name {
  font-size: 14px;
}

.course-organizer {
  font-size: 13px;
  font-weight: lighter;
  margin: 0;
}

.time-range {
  margin: 0;
  font-style: italic;
  color: var(--mainColor);
  font-size: 0.7rem;
  padding-left: 10px;
}

.language {
  font-size: 14px;
}

.skills-container .section-title,
.languages-container .section-title {
  padding-left: 0;
  margin-left: 15px;
}

.language-container {
  margin: 5px 0 0 15px;
}

.language-level {
  display: none;
}

.language-level-scale .level {
  width: 12px;
  height: 12px;
  border: 1px solid var(--mainColor);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

.language-level-scale .level:hover {
  cursor: pointer;
}

.language-level-scale {
  display: flex;
  margin-top: 5px;
}

.language-level-scale .inner {
  background-color: var(--mainColor);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.language-level-scale div {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 5px;
  align-items: center;
  justify-items: center;
}

.language-level-scale .level,
.language-level-scale .inner {
  grid-column: 1;
  grid-row: 1;
}
