:root {
  --mainColor: #1b7a77;
  --secondaryColor: #9bb4b3;
  --langLevelColor: var(--secondaryColor);
}

body {
  font-family: "Roboto", sans-serif;
}

.cv-preview,
.preview {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 180px 1fr;
  grid-template-areas:
    "about contact"
    "body body";
}

.cv-preview-container h1,
.preview-modal h1 {
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 10px;
}

.cv-preview-container h3,
.cv-preview-container h4,
.preview-modal h3,
.preview-modal h4 {
  margin: 0;
}

.resume-body section {
  padding-left: 40px;
}

.preview-header {
  grid-area: about;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 0px;
}

.about {
  margin-bottom: 30px;
}

.about h3 {
  color: var(--mainColor);
  margin-top: 5px;
  font-size: 16px;
  margin-left: 20px;
}

.about h1 {
  font-size: 22px;
  margin-top: 20px;
  margin-left: 20px;
}

.about p {
  font-size: 10px;
}

.contact-bar {
  grid-area: contact;
  margin-top: 10px;
  padding-right: 20px;
}

.skills input {
  display: none;
}

.profile-photo {
  display: none;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin: 10px 20px 30px 20px;
}

.contact-bar ul {
  list-style: none;
  text-align: right;
  margin-right: 15px;
  font-size: 9px;
}

.contact-bar ul li {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.contact-bar .icon {
  margin-left: 5px;
  color: var(--mainColor);
}

.about p {
  position: absolute;
  width: 135%;
  left: 5%;
  bottom: -15px;
  text-align: left;
}

.resume-body {
  height: 720px;
  grid-area: body;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.experience-container {
  order: -1;
  margin-right: 10px;
  height: 500px;
}

.education-container {
  order: -1;
  margin-right: 10px;
  position: relative;
}

.education-container .dash {
  left: 15px;
}

.certifications-container,
.languages-container {
  margin-left: 10px;
}

.skills-container {
  margin-left: 10px;
  height: 300px;
}

.section-title {
  position: relative;
  left: -40px;
  padding-left: 40px;
  border-bottom: 1px solid var(--mainColor);
  width: 100%;
  font-size: 18px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 10px 0 0;
}

.skills ul li {
  border-radius: 5px;
  background-color: var(--mainColor);
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  margin: 5px;
  font-size: 10px;
}

.time-range {
  margin: 0;
  font-style: italic;
  color: var(--mainColor);
  font-size: 10px;
}

.job-container {
  margin: 20px 25px;
  position: relative;
}

.job-title,
.workplace {
  position: relative;
  left: -15px;
}

.experience-container .time-range {
  position: relative;
  left: -15px;
}

.field-of-study,
.job-title {
  font-size: 16px;
}

.field-of-study,
.school-name,
.education-container .time-range {
  padding-left: 10px;
}

.course-name {
  font-size: 14px;
}

.course-organizer {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.study-container,
.course-container {
  margin: 15px 0;
}

.workplace,
.school-name,
.course-organizer {
  font-weight: lighter;
  margin: 0;
}

.job-description {
  position: relative;
  font-size: 10px;
}

.job-description::before,
.job-description::after {
  border: 1px solid var(--mainColor);
  bottom: 0;
  content: "";
  position: absolute;
  top: -5px;
  width: 3%;
  height: 105%;
  min-height: 43px;
}

.job-description::before {
  border-right: none;
  left: -15px;
}

.job-description::after {
  border-left: none;
  right: -15px;
}

.header .dash {
  display: none;
}

.dash {
  height: 11px;
  width: 11px;
  border: 4px solid var(--mainColor);
  border-radius: 50%;
  position: absolute;
  left: -50px;
}

.job-container::before {
  border-left: 1px solid var(--mainColor);
  bottom: 0;
  left: -41px;
  content: "";
  position: absolute;
  top: 19px;
  width: 3%;
  min-height: 43px;
  height: 103%;
}

#first-job::before {
  display: none;
}

.language-container .language-level-scale {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.languages {
  padding-right: 20px;
}

.language {
  font-size: 14px;
}

.language-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.languages-container .section-title {
  margin-bottom: 20px;
}

.language-level {
  display: none;
}

.language-level-scale .level {
  width: 12px;
  height: 12px;
  background-color: var(--secondaryColor);
  cursor: pointer;
  border-radius: 2px;
}

.language-level-scale .inner {
  width: 12px;
  height: 12px;
  background-color: var(--mainColor);
  cursor: pointer;
  border-radius: 2px;
}

.language-level-scale div {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 4px;
  align-items: center;
  justify-items: center;
}

.language-level-scale .level,
.language-level-scale .inner {
  grid-column: 1;
  grid-row: 1;
}
