:root {
  --mainColor: #5673ff;
  --secondaryColor: #3bbeff;
  --langLevelColor: var(--secondaryColor);
}

body {
  font-family: "Roboto", sans-serif;
}

.cv-preview,
.preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 1fr;
  grid-template-areas:
    "about contact"
    "body body";
  position: relative;
}

.preview {
  overflow: hidden;
}

.cv-preview-container h1,
.preview-modal h1 {
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 10px;
}

.cv-preview-container .cv-preview h3,
.cv-preview-container .cv-preview h4,
.preview-modal .cv-preview h3,
.preview-modal .cv-preview h4 {
  margin: 0;
}

.preview-header {
  grid-area: about;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid var(--mainColor);
  padding: 20px 0 0 20px;
}

.about h3 {
  color: var(--mainColor);
  margin-top: 5px;
  font-size: 14px;
}

.about h1 {
  font-size: 22px;
}

.about p {
  font-size: 10px;
  margin: 5px 0;
}

.about {
  width: 190px;
}

.contact-bar {
  grid-area: contact;
  border-bottom: 1px solid var(--mainColor);
  margin-top: 30px;
  padding-right: 20px;
}

.resume-body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1000px;
}

.resume-body section {
  margin-left: 20px;
  margin-top: 10px;
  width: 45%;
}

.profile-photo {
  display: none;
  height: 100px;
  width: 100px;
  grid-area: photo;
  border-radius: 100px;
  border: 5px solid var(--mainColor);
  position: absolute;
  top: 20px;
  left: 44%;
  object-fit: cover;
}

.contact-bar ul {
  list-style: none;
  text-align: right;
  margin-right: 15px;
  font-size: 9px;
}

.contact-bar ul li {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.contact-bar .icon {
  margin-left: 5px;
}

.section-title {
  font-size: 18px;
}

.experience-container {
  order: 1;
}

.education-container {
  order: 2;
}

.languages-container {
  order: 5;
}

.skills-container {
  order: 6;
}

.certification-container {
  order: 3;
}

.projects-container {
  order: 4;
}

.time-range {
  margin: 0;
  font-style: italic;
  color: var(--mainColor);
  font-size: 0.7rem;
}

.job-title,
.field-of-study,
.project-name {
  font-size: 16px;
}

.course-name {
  font-size: 14px;
}

.job-container,
.study-container {
  margin: 10px 0;
}

.course-container {
  margin: 12px 0;
}

.workplace,
.school-name,
.course-organizer,
.project-link {
  font-weight: lighter;
  margin: 0;
  font-size: 14px;
  cursor: url("../../pictures/search-plus.svg"), auto;
  color: #000;
}

.project-link {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.job-description,
.project-description {
  font-size: 10px;
  margin: 5px 0;
}

.dash {
  height: 40px;
  width: 10px;
  background-color: var(--mainColor);
  position: absolute;
  left: -30px;
  top: 5px;
  display: none;
}

.about .dash {
  background-color: #000;
}

.about,
.job-container,
.study-container {
  position: relative;
}

.skills ul {
  padding: 0;
  list-style: none;
  margin-top: 0;
}

.skills ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 10px;
  height: 20px;
}

.skills ul li input {
  -webkit-appearance: none;
  width: 150px;
  background: linear-gradient(
    to right,
    var(--mainColor) 0%,
    var(--mainColor) 25%,
    #fff 25%,
    #fff 100%
  );
  border: 1px solid var(--mainColor);
  border-radius: 15px;
  height: 5px;
  outline: none;
  margin: 0;
  margin-top: 8px;
}

.skills ul li input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 5px;
  background-color: var(--mainColor);
}

.skills ul li input::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  width: 5px;
  background-color: var(--mainColor);
  border: none;
}

skills ul li input::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  height: 5px;
  width: 5px;
  background-color: var(--mainColor);
  border: none;
}

.skills {
  position: relative;
}

.skill-scale-container {
  display: flex;
  justify-content: space-between;
  width: 153px;
  right: 0;
  top: -5px;
  position: absolute;
}

.skill-scale {
  height: 5px;
  width: 1px;
  background-color: var(--mainColor);
}

.language-container .language-level-scale {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.languages {
  padding-right: 20px;
}

.language {
  font-size: 14px;
}

.language-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.languages-container .section-title {
  margin-bottom: 10px;
}

.language-level {
  display: none;
}

.language-container .language-level-scale .level {
  width: 12px;
  height: 12px;
  background-color: var(--langLevelColor);
  border-radius: 2px;
  opacity: 0.4;
}

.language-container .language-level-scale .inner {
  width: 12px;
  height: 12px;
  background-color: var(--mainColor);
  border-radius: 2px;
  opacity: 0;
}

.language-level-scale div {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  align-items: center;
  justify-items: center;
}

.language-level-scale .level,
.language-level-scale .inner {
  grid-column: 1;
  grid-row: 1;
}

.language-level-dot {
  display: none;
}
