:root {
  --mainColor: #616d84;
}

body {
  font-family: "Roboto", sans-serif;
}

.cv-preview-container h1,
.cv-preview-container h2,
.preview-modal h1,
.preview-modal h2 {
  margin: 0;
}

.cv-preview-container h2,
.preview-modal h2 {
  margin-bottom: 5px;
}

.cv-preview-container h3,
.preview-modal h3 {
  margin: 0;
}

.preview-header {
  display: flex;
  align-items: center;
  margin: 20px 30px;
}

.resume-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 760px;
}

.section-title {
  color: var(--mainColor);
}

.profile-photo {
  display: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.preview-header .dash {
  display: none;
}

.about h3 {
  margin-top: 5px;
  color: var(--mainColor);
  font-weight: lighter;
  font-size: 16px;
}

.about p {
  font-size: 10px;
  margin: 5px 0;
}

.about h1 {
  font-size: 22px;
  font-weight: 600;
}

.contact-bar {
  margin: 5px 0;
  padding: 1px;
  background-color: var(--mainColor);
}

.contact-bar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 8px;
  padding: 0;
  color: #fff;
}

.contact-bar a {
  color: #fff;
}

.contact-bar .icon {
  margin-right: 5px;
  color: #fff;
}

.icon {
  font-size: 10px;
}

.section-title {
  font-size: 18px;
}

.skills input {
  display: none;
}

.skills ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills ul li {
  padding: 2px 0;
  text-align: left;
  font-size: 10px;
}

.job-container,
.study-container,
.course-container {
  padding: 5px 0;
}

.job-container .workplace,
.school-name,
.course-organizer {
  font-weight: lighter;
  margin: 0;
}

.header,
.skills-container,
.certifications-container,
.languages-container,
.projects-container {
  padding: 5px 30px;
}

.experience-container,
.education-container {
  margin: 5px 0;
}

.job,
.study,
.experience-container .section-title,
.education-container .section-title {
  padding: 0 30px;
}

.job-title,
.field-of-study {
  font-size: 16px;
}

.course-name {
  font-size: 14px;
}

.course-organizer {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.workplace,
.school-name {
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
}

.dash {
  background-color: var(--mainColor);
  height: 2px;
  width: 12px;
  position: relative;
  left: 0;
  top: 12px;
}

.time-range {
  margin: 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 10px;
}

.job-description {
  font-size: 10px;
  margin: 5px 0;
}

.certifications {
  display: grid;
  grid-template-columns: 50% 50%;
}

#course-1 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.language {
  font-size: 14px;
  margin-bottom: 0;
}

.languages {
  display: flex;
}

.language-container {
  margin-right: 30px;
  width: 25%;
}

.language-level {
  margin: 0;
  font-style: italic;
  color: #8d8d8d;
  font-size: 10px;
  color: var(--mainColor);
  font-weight: bolder;
}
